#a,#b,#affichage{
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: helvetica;
}

#txt1,#txt2{
    text-align: center;
    font-size: 3em;
    font-family: helvetica;
}

#container{
    text-align: center;

}
 .buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(17, 211, 211);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

 }
.buttons:hover{
    background-color:  rgb(16, 190, 190)
}